@import url("three-quarters.css");

body {
    text-align: center;
    font-family: 'Sansita One';
    background: #a46740 url(../images/table.jpg);
    color: #ccc;
    text-shadow: 0 1px 0 #222;
}
h1 {
    font-weight: bold;
    text-shadow: 0 2px 0 #222;
}
a, a:visited {
    color: #aea;
    text-decoration: none;	22
    -webkit-transition: all .3s;
    padding: 5px;
}
a:hover {
    color: #000;
    background: #aea;
    text-shadow: none;
}

#game {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
}

#cards {
    margin-top: 15px;
    position: relative;
    width: 557px;
    height: 557px;
    display: none;
}

.card {
    -webkit-perspective: 600;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    overflow: hidden;



    /* changed	*/
    position: absol