@import url("three-quarters.css");

body {
    text-align: center;
    font-family: 'Sansita One';
    background: #a46740 url(../images/table.jpg);
    color: #ccc;
    text-shadow: 0 1px 0 #222;
}
h1 {
    font-weight: bold;
    text-shadow: 0 2px 0 #222;
}
a, a:visited {
    color: #aea;
    text-decoration: none;	22
    -webkit-transition: all .3s;
    padding: 5px;
}
a:hover {
    color: #000;
    background: #aea;
    text-shadow: none;
}

#game {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
}

#cards {
    margin-top: 15px;
    position: relative;
    width: 557px;
    height: 557px;
    display: none;
}

.card {
    -webkit-perspective: 600;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    overflow: hidden;



    /* changed	*/
    position: absolute;

    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;

    -moz-transition-property: opacity, -moz-transform, -moz-box-shadow;
    -moz-transition-duration: .3s;
    -webkit-transition-property: opacity, -webkit-transform, -webkit-box-shadow;
    -webkit-transition-duration: .3s;
    transition-property: opacity, transform, box-shadow;
    transition-duration: .3s;

    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.front {
    background: #FFF url(../images/mark.png) no-repeat;
    z-index: 10;
}

.back {


    -moz-transform: rotate3d(0,1,0,-180deg);
    -webkit-transform: rotate3d(0,1,0,-180deg);
    transform: rotate3d(0,1,0,-180deg);

    z-index: 8;
}

.back .name, .back .login {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: bloc