@import url("three-quarters.css");

body {
    text-align: center;
    font-family: 'Sansita One';
    background: #a46740 url(../images/table.jpg);
    color: #ccc;
    text-shadow: 0 1px 0 #222;
}
h1 {
    font-weight: bold;
    text-shadow: 0 2px 0 #222;
}
a, a:visited {
    col